    <html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Flop_Spring</title>
</head>
<body>
    <div align="center">
        <h1>Blogs</h1>
        <table border="0" class = "table table-striped table-responsive-md">
            <thead>
            <tr>
<!--                <th>Id</th>-->
                <th>Name</th>
           
            </tr>
            </thead>
           <!--  <tbody>
            <tr th:each="blogPojo : ${Blog}">
                <td align="center" th:text=${blogPojo.Title}></td>
                <td align="center" th:text=${blogPojo.TextBody}></td>
               <td align="center" th:text=${pt.sku}></td>
            </tr>
            </tbody> -->
        </table>
        
        
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Title

      </th>
     
      <th class="th-sm">TextBody

      </th>
      <th class="th-sm">Category

      </th>
    
    </tr>
  </thead>
  <tbody>
    
 
  </tbody>
  
  </tfoot>
</table>
    </div>
</body>
</html>